Task2_Workflow_Tanishk.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "b1ab5304-21bc-4f1f-945a-32f81491632a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&order=market_cap_desc&per_page=5&page=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "7106c020-788f-4c53-8900-6436c19ae2bd",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      coin: item.json.id,\n      symbol: item.json.symbol,\n      current_price: item.json.current_price,\n      market_cap_rank: item.json.market_cap_rank\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "b47f3c27-c212-457e-8587-3fe60915d323",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/coins/bitcoin",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "240c1ac2-db41-4d83-b51a-499c0e680822",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ffa444f0-02f5-4266-8a79-5e39d9bf5020",
              "leftValue": "={{$json.id}}",
              "rightValue": "bitcoin",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "f4754440-635d-4b24-bf01-29baad9e1a3f",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1iUK0CaoXhFEpBVMbcTp0AxXtUYPIXFvGrFAKQR24ro4",
          "mode": "list",
          "cachedResultName": "Portal Api",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iUK0CaoXhFEpBVMbcTp0AxXtUYPIXFvGrFAKQR24ro4/edit?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        -96
      ],
      "id": "a8666dc6-f8d1-4bf9-a4a2-5010a73ad96c",
      "name": "Create sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "z2S0uFdgRShzfust",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a0bddbbc-3e8e-46c6-939e-13583cf55398",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5e74f48721861c1f24e8a5945d6ae0693169146acc9cd245da08b6da5167b8d8"
  },
  "id": "NWL9orZ5pdKnq8mh",
  "tags": []
}